#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:whitesmoke ;
}
header{
    background-color:#f5f5f5;
}
nav a:hover {
    background-color:#396E94;
    color:#ffffff ;
}
.book, .join {
    background-color:#f5f5f5;
    color:#000000;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color:#e7c24f ;
    color:#ffffff ;
}
#background {
    background-color:#e7c24f;
}
.msg {
    background-color:#396e94 ;
}
footer {
    background-color:#396e94 ;
}
.home-title {
    color:#000000 ;
}
h4 {
    color:#000000;
}
.msg h2 {
    color: #ffffff;
}
.msg p {
    color: #ffffff;
}
footer h3 {
    color:#ffffff ;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #e7c24f;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}