@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@300&family=Rock+Salt&display=swap');
header {
    background-color:#003554;
    height: 50%;
    display: grid;
    grid-template-columns: 150px auto;
    font-size: 35px;
}

#logo_link {
  justify-self: center;
  align-self: center;
}
.logo-img{
  height:100px;
  width: 100px;
  position: relative;
  margin-top: 8px;
}
html{
    height: 100%;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-img{
    width: 100%;
    box-shadow: 10px 10px 10px #618498;
}
main section {
    text-align: center;
}

#background-more{
    background-color: #003554;
    height: 90%;
    width: 650px;
    margin-top: 70px;
    margin-bottom: 15px;
}
#hero-msg h1 {
    text-align: center;
    color:#ffffff;
    font-size: 100px;
    margin-top: 200px;
    font-family: 'Arvo';
    text-shadow:2px 2px 8px #000000;
}
#hero-msg h4{
    text-align: center;
    color:#ffffff;
    display: inline-block;
    text-shadow:2px 2px 8px #000000;
}
.home, h2{
    text-align: left;
    font-size: 40px;
    color:#ffffff;
    margin-left:30px;
    font-family:'Arvo';
    margin-bottom: 10px;
}
.home, h4{
    display: grid;
    grid-template-columns: 600px auto;
    font-size: 30px;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 15px;
    text-align:left;
    font-family: 'Helvetica';
}
.view, .read {
    background-color: #d9c2a3;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
}
.view:hover, .read:hover {
    background-color:black ;
    color:#ffffff ;
}
.button-box {
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.child-img{
    margin-left: 10%;
    margin-top: 70px;
    height: 510px;
    width: 850px;
    position: relative;
    box-shadow: 10px 10px 10px #618498;
    transition: transform.5s;
}
.child-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.counseling, h1{
    text-align: left;
    font-size: 40px;
    color:#003554;
    margin-left:30px;
    font-family:'Arvo';
    font-size: 50px;
}
.counseling, h3{
    display: inline-block;
    font-size: 30px;
    text-align:left;
    font-size: 30px;
    font-family: 'Helvetica';
    color:black;
    font-weight: medium;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.counseling-img{
    width:48%;
    height:100%;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 15px;
    transition: transform.5s;
    margin-top: 15px;
}
.counseling-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
body {
    background-color:whitesmoke ;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 22px;
}
.home-title {
    color:#000000;
    font-family: 'Arvo';
    font-size: 2em;
    margin-top: 10px;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}
nav a:hover {
    background-color:#e7c24f;
    color:#000000;
}
footer {
    background-color:#003554;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color:#ffffff ;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #e7c24f;
}
.view, .read {
    background-color: #d9c2a3;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
}
.view:hover, .read:hover {
    background-color:black ;
    color:#ffffff ;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    margin-top: 0px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}
.treatment-grid h1{
    text-align: left;
    font-size: 50px;
    color:#003554;
    margin-left:30px;
    font-family:'Arvo';
}
.treatment-grid h3{
    font-family: 'Arvo';
    display: inline-block;
    font-size: 40px;
    text-align:left;
    color:black;
    font-weight: medium;
    margin-bottom: 0ox;
}
.treatment-grid p{
    font-size: 30px;
    font-weight: medium;
    display: inline-block;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 15px;
    text-align:left;
    font-family: 'Helvetica';
    margin-top: 30px;
    text-align: center;
}
.treatment-img{
    width:48%;
    height:100%;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 15px;
    transition: transform.5s;
    margin-top: 15px;
    box-shadow: 10px 10px 10px #618498;
    margin-left: 20px;
}
.treatment-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.treatment-grid #background{
    background-color: #003554;
    height: auto;
    width: auto;
    margin-top: 0px;
    margin-bottom: 15px;
}
.sports-img{
    width:48%;
    height:100%;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 15px;
    transition: transform.5s;
    margin-top: 15px;
    box-shadow: 10px 10px 10px #618498;
    margin-left: 20px;
}
.sports-img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
.sports p{
    color: #ffffff;
    font-size: 1.4em;
    font-family: 'Helvetica';
    text-align: center;
    display: inline-block;
}

.join{
    background-color: #d9c2a3;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 100px;
    border-radius: 5px;
}
.join:hover {
    background-color:black ;
    color:#ffffff ;
}

.msg h2 {
    color: #ffffff;
    font-family: 'Arvo';
    font-size: 3em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Arvo';
}
.msg p {
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Helvetica';
    text-align: center;
    display: inline-block;
}
main section img{
    box-sizing: border-box;
}

.children {
    width: 100%;
    box-shadow: 10px 10px 10px #618498;
    margin-top: 70px;
}
.children:hover{
    opacity: 0.6;
    transform: scale(1.1);
}
#sports-background{
    height: auto;
    background-color:#003554;
    padding: 25px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
